.avatar {
  box-shadow: 0 0 30px rgba(0, 0, 0, .5), 0 0 40px rgba(0, 0, 0, .25);
}
.checkgroup-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}

.checkbox-container {
  margin-right: 8px;
}

.check-margin {
  margin-right: 25px;
}
.genderMargin {
  margin:10px 0;
}
.f-w {
  width:48%!important;
  margin-right: 15px !important;
}
.form-2col {
  display: grid;
  grid-template-columns: 1fr!important;
  gap: 12px;
}
.column_2{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    width:100%;
}
