<div class="banner-conatiner ">
  <span class="nav-logo">
    <img src="../../../../assets/marketing-strategy.svg" style="width:110px" />
  </span>
  <mat-card class="banner-card mat-elevation-z7">
    <mat-card-title class="banner-card-title">Smart HR</mat-card-title>
    <mat-card-subtitle class="banner-card-subtitle">Smart HR Management</mat-card-subtitle>
  </mat-card>
</div>
<div class="content">
  <h2>Resources</h2>
  <div class="link-card-container">

    <a class="link-card" [routerLink]="['/departments']"><span>Department</span><mat-icon class="link-icon">chevron_right</mat-icon></a>
    <a class="link-card">Departmets<mat-icon class="link-icon">chevron_right</mat-icon></a>
    <a class="link-card">Designations<mat-icon class="link-icon">chevron_right</mat-icon></a>
    <a class="link-card">Gardes<mat-icon class="link-icon">chevron_right</mat-icon></a>
    <a class="link-card">Salary<mat-icon class="link-icon">chevron_right</mat-icon></a>
    <a class="link-card">Leaves<mat-icon class="link-icon">chevron_right</mat-icon></a>
  </div>

</div>
<mat-divider></mat-divider>
<div class="content">
  <h2>Control</h2>

  <div class="link-card-container">

    <a class="link-card">Users<mat-icon class="link-icon">chevron_right</mat-icon></a>
    <a class="link-card">Mails<mat-icon class="link-icon">chevron_right</mat-icon></a>

  </div>
</div>
