<div class="view-container">
  <mat-card class="view-card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Grade</mat-card-title>
      <mat-card-subtitle>Employee grade list</mat-card-subtitle>
      <img src="../../../../assets/price-tag-svgrepo-com.svg" mat-card-avatar class="mat-elevation-z9">
      <span class="spacer"></span>
      <a mat-mini-fab color="primary" [routerLink]="['/grade-create']"><mat-icon>add</mat-icon></a>
    </mat-card-header>
    <mat-card-content class="view-card-content">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="employeeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.employeeName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Dept</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.section?.department?.departmentName}}/[{{element.section?.sectionName}} section]</mat-cell>
        </ng-container>
        
        
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row;columns:columnList"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>

