<div class="view-container">
  <mat-card class="medium-card">
    <mat-card-header>
      <mat-card-title>Salary Heads</mat-card-title>
      <mat-card-subtitle>Create new heads</mat-card-subtitle>
      <img mat-card-avatar class="avatar mat-elevation-z9" src="../../../../assets/price-tag-svgrepo-com.svg" />


    </mat-card-header>
    <mat-card-content class="view-card-content">
      <form class="medium-card-form" [formGroup]="salaryHeadForm" (submit)="save()">
        <mat-form-field class="f-w" appearance="standard">
          <mat-label>Head label</mat-label>
          <input matInput formControlName="salaryHeadName">

          <mat-error *ngIf="f.salaryHeadName.touched && f.salaryHeadName.errors?.required">
            Head label is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="f.salaryHeadName.touched && f.salaryHeadName.errors?.maxlength">
            Head label exceeds <strong>15 characters</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w" appearance="standard">
          <mat-label>Head name</mat-label>
          <input matInput formControlName="description">

          <mat-error *ngIf="f.description.touched && f.description.errors?.required">
            Head name is <strong>required</strong>
          </mat-error>
          
        </mat-form-field>
        <div class="f-w">
          <mat-checkbox formControlName="isCommon">Common</mat-checkbox>
        </div>
        <div class="f-w right my-1">
          <button type="reset" mat-raised-button color="accent"><mat-icon>restart_alt</mat-icon> Reset</button>
          &nbsp;
          <button type="submit" mat-raised-button color="primary" [disabled]="salaryHeadForm.invalid"><mat-icon>save_alt</mat-icon> Save</button>

        </div>
      </form>
    </mat-card-content>
    <mat-card-footer class="view-card-content">
      <div class="form-card-footer"><a mat-button [routerLink]="['/salary-heads']"><mat-icon>keyboard_backspace</mat-icon> back to list</a></div>
    </mat-card-footer>
  </mat-card>
  </div>
