.settings-container{
  box-sizing: border-box;
  width: calc(100vw - 50px);
  margin: 0 auto;
}

.top-head {
  margin: 16px 0;
  background-color: #757575;
  color: white;
}
.settings-accordion{

  margin: 8px 0;
}
.panel {
  margin-bottom:1px;
}
.panel-header {
  padding-top: 12px;
  padding-bottom: 12px;
}
.x-h3{
  margin-top: 16px;
  font-weight:400;
}
.profile-form-container{
  padding: 8px 0;
}
.settings-form-container{
    display:block;
    margin: 16px;
}
.company-form
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:12px;
}
.f-w {
  display: block;
  width: 100%;
}
.workdays-form {
  width: 100%;
  margin: 0 auto;
  
}
.checkgroup-container{
    width:100%;
    display:flex;
    align-items:flex-end;

}
.checkbox-container {
  margin-right:8px;
}
.check-margin{
    margin-right:10px;
}
.panel-content{
    margin: 8px 16px;
}
.hour-form {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

@media screen and (max-width: 600px) {
  .settings-form-container {
    width:100%;
    margin: 0;
    padding: 0;
  }
  .company-form {
    display: block;
    
    gap: 12px;
  }
  .hour-form {
    width: 100%;
    display:block;
  }
  .f-w {
    display: block;
    width: 100%;
  }
  }
