/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
.spacer{
  flex: 1 1 auto;
}
.avatar {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5), 0 5px 30px rgba(0, 0, 0, .25);
}
.mat-simple-snackbar-action  button{
  color: white !important;
}
.view-container {
    box-sizing:border-box;
    width:100%;
    display:block;
    margin:0;
    padding:0;
}
.view-card {

    margin: 16px 25px;
}
.view-card-content{
    margin: 0 16px;
}
.medium-card {
    width:70%;
    margin: 16px auto;
}
.medium-card-form {
    
    margin: 16px auto;
}
.form-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  align-content:center;
  
}
.form-3col-1 {
  display: grid;
  grid-template-columns: auto auto auto 50px;
  gap: 12px;
  align-content: center;
  align-items:center;
}
.form-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-content: center;
}
.form-3col-2 {
  display: grid;
  grid-template-columns: auto auto auto 80px;
  gap: 8px;
  align-content: center;
  align-items: center;
}
.form-4col-2 {
  display: grid;
  grid-template-columns: 80px auto auto  80px;
  gap: 8px;
  align-content: center;
  align-items: center;
}
.my-1{
    margin-top:25px;
    margin-bottom:25px;
}
.f-w {
  display: block;
  width: 100%;
}
.f-w.right {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.form-card-footer{
    margin:16px;
}
.row-image {
  border-radius: 50%;
  margin: 10px 0;
  box-shadow: 5px 15px 20px gray;
}
@media screen and (max-width: 600px) {
  .medium-card {
    width: calc(100% - 50px);
    margin: 16px auto;
  }
  .form-3col {
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
  }
}
